.card {
    width: 5rem;
}

.attackDefencePair {
    --top-offset: 2rem;
    position: relative;
    padding-bottom: var(--top-offset);
}

.attackDefencePair *:nth-child(2) {
    position: absolute;
    top: var(--top-offset);
    left: 0px;
}